<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head">

</head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">
	<!-- Blank Row -->
	<div class="row">
		&nbsp;&nbsp;
	</div>




	  <button type="submit" class="btn btn-primary" id="add-user-button" style="width:130px">Add User</button>



<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12 tableDiv">
	<table class="table table-striped" id="user-table">
	  <thead class="table-head">
	    <tr>
	      <th scope="col" style="width: 40%;">Email</th>
	      <th scope="col" style="width: 30%;">Role</th>
	      <th scope="col" style="width: 30%;">Actions</th>
	    </tr>
	  </thead>
	  <tbody>

	  </tbody>
	</table>

</div>
</div>

	<!-- Blank Row -->
	<div class="row">
		&nbsp;
	</div>


	<div class="row" style="display: flex; justify-content: center;">
		<button type="button" class="btn btn-primary" id="previous-page" style="width: 100px;">Previous</button>

		<input type="number" class="form-control" name="page" id="inputPage"  value="1" min="0" oninput="displayPage()" onkeypress="return /[0-9]/i.test(event.key)" required style="width: 60px;">
		<input type="text" class="form-control" name="totalUsers" id="inputTotalPages"  required style="width: 60px;" disabled>

		<button type="button" class="btn btn-primary" id="next-page"  style="width: 100px;">Next</button>
	</div>



</div> <!-- Container end-->



<!-- User Add Modal -->
<div class="modal" tabindex="-1" role="dialog" id="add-user-modal" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><b>Add User</b></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-inline" id="user-form">
					<div class="col-12">
						<div class="form-group">
							<label for="inputEmail" class="col-sm-2 col-form-label">Email<span class="required">*</span></label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="email" id="inputEmail" oninput="checkInputs()" placeholder="Enter Email" required>
								<p style="line-height:2em;"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="col-sm-2 col-form-label">Password<span class="required">*</span></label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="password" id="inputPassword" oninput="checkInputs()" placeholder="Enter Password" required>
							</div>
						</div>

						<div>
						</div>
						<br>
						<div style="display:inline-grid;width:220px"></div>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:100px">Cancel</button>
						<button type="submit" class="btn btn-primary" id="add-user" disabled style="width:100px">Add</button>
					</div>
				</form>
			</div>


			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>

<!-- User Edit Modal -->
<div class="modal" tabindex="-1" role="dialog" id="edit-user-modal" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><b>Change Password</b></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-inline" id="edit-user-form">
					<div class="col-12">
						<div class="form-group">
							<label for="inputPreviousPassword" class="col-sm-2 col-form-label">Previous Password<span class="required">*</span></label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="previousPassword" id="inputPreviousPassword" placeholder="Enter Previous Password" required>
								<p style="line-height:2em;"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="inputCurrentPassword" class="col-sm-2 col-form-label">Current Password<span class="required">*</span></label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="currentPassword" id="inputCurrentPassword" placeholder="Enter Current Password" required>
							</div>
						</div>
						<input type="hidden" name="email">

						<div>
						</div>
						<br>
						<div style="display:inline-grid;width:220px"></div>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" style="width:100px">Cancel</button>
						<button type="submit" class="btn btn-primary" id="edit-user" disabled style="width:100px">Change</button>
					</div>
				</form>
			</div>


			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>
<!-- Error Toast-->
<div class="toast error" role="alert" id="error-modal" aria-live="assertive" aria-atomic="ture" style="width:400px" >
	<div class="toast-header"  style="background-color:tomato" >

		<strong class="mr-auto" >Error </strong>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>

	</div>
	<div class="toast-body">
	</div>
</div>

<!-- Success Toast-->

<div class="toast success " role="alert" id="success-modal" aria-live="assertive" aria-atomic="ture" style="width:400px">
	<div class="toast-header" style="background-color: #90EE90" >

		<strong class="mr-auto"  >Success </strong>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>

	</div>
	<div class="toast-body"  >
	</div>
</div>

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/user.js}"/></script>

</body>	

</html>